
@{
    ViewBag.Title = "Crear Actividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="vTbl">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                @*<div class="row">
                    <div class="col-md-4">
                        <div class="">
                            <label for="cbxMunicipio">Municipio</label>
                            <select class="form-control" id="cbxMunicipio"></select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label for="cbxSeccion">Seccion</label>
                            <select class="form-control" id="cbxSeccion"></select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label for="cbxSubSeccion">Sub Seccion</label>
                            <select class="form-control" id="cbxSubSeccion"></select>
                        </div>

                    </div>
                </div>*@
                <br />
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <button type="button" class="btn btn-danger waves-light waves-effect" id="btnNew">Nueva Actividad</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">
                            <table id="tblJson" class="table table-striped table-bordered dt-responsive nowrap">
                                <thead>

                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Formulario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="vAdd">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h4>Crear nueva Actividad</h4>
                    <br />
                </div>
                <div class="card-body">
                    
                        <div class="form-group">
                            <label for="cbxfiltro1">Eje del Plan Municipal</label>
                            <select class="form-control" id="cbxfiltro1"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro2">Propósito</label>
                            <select class="form-control" id="cbxfiltro2"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro3">Componente</label>
                            <select class="form-control" id="cbxfiltro3"></select>
                        </div>
                        @*<div class="form-group">
                            <label for="cbxfiltro4">Filtro 4</label>
                            <select class="form-control" id="cbxfiltro4"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro5">Filtro 5</label>
                            <select class="form-control" id="cbxfiltro5"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro6">Filtro 6</label>
                            <select class="form-control" id="cbxfiltro6"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro7">Filtro 7</label>
                            <select class="form-control" id="cbxfiltro7"></select>
                        </div>
                        <div class="form-group">
                            <label for="cbxfiltro8">Filtro 8</label>
                            <select class="form-control" id="cbxfiltro8"></select>
                        </div>*@

                    <div class="form-group">
                        <label for="cbxPlantillas">Programa al que corresponde:</label>
                        <select class="form-control" id="cbxPlantillas"></select>
                    </div>

                    <div class="form-group">
                        <label>Nombre de Actividad</label>
                        <input type="text" class="form-control" id="txtNombre" maxlength="120" />
                    </div>
                    <div class="form-group">
                        <label for="cbxTipoCtrl">Tipo de Dato</label>
                        <select class="form-control" id="cbxTipoCtrl">
                            <option value="text" selected>Texto</option>
                            <option value="date" >Fecha</option>
                            <option value="number" >Numeros</option>
                            <option value="email" >Correo</option>
                            <option value="tel" >Telefono</option>
                            <option value="file">Archivos</option>
                            <option value="checkbox">Seleccion Multiple</option>
                            <option value="radio">Seleccion Opcional</option>
                            <option value="select">Lista de Opciones</option>
                            <option value="catSystem">Catalogo Existente</option>
                        </select>
                    </div>

                    <div class="form-group" id="divOpt">
                        <label>Opciones</label>
                        <input type="text" class="form-control" id="txtOpt" maxlength="100" />
                        <button type="button" class="btn btn-success" id="btnAddOpt">Agregar</button>
                        <div id="txtTagsOpt" data-role="tagsinput"></div>
                    </div>

                    <div class="form-group" id="divCat">
                        <label>Seleccione un catalogo</label>
                        <select class="form-control" id="cbxCat"></select>
                    </div>

                    <div class="form-group">
                        <label>Nombre de Dato</label>
                        <input type="text" class="form-control" id="txtQuestion" maxlength="100" />
                        <button type="button" class="btn btn-success" id="btnAdd">Agregar</button>
                        
                    </div>
                    <div class="form-group">
                        <label for="txtTags">Datos Agregados</label>
                        <div id="txtTags" data-role="tagsinput"></div>
                    </div>
                    <button type="button" class="btn btn-info" id="btnReturn">Regresar</button>
                    <button type="button" class="btn btn-success" id="btnSave">Guardar</button>
                    <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/script/Campos.js"></script>
