
@{
    ViewBag.Title = "Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div id="vTbl">
        <div class="row">
            @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">*@
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <label for="cbxMunicipio">Municipio</label>
                    <select class="form-control" id="cbxMunicipio"></select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <label for="cbxSeccion">Seccion</label>
                    <select class="form-control" id="cbxSeccion"></select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    <label for="cbxSubSeccion">Sub Seccion</label>
                    <select class="form-control" id="cbxSubSeccion"></select>
                </div>
            @*</div>*@
        </div>
        <br />
        <div class="row datagrid">
            <table id="tblJson">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div id="vAdd">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                <div class="card">
                    <div class="card-header">
                        <h3 id="lblTitulo"></h3>
                        <br />
                    </div>
                    <div class="card-body">
                        <div id="inputs">
                        </div>
                        <button type="button" class="btn btn-info" id="btnReturn">Regresar</button>
                        <button type="button" class="btn btn-success" id="btnSave">Guardar</button>
                        <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/script/formulario.js"></script>
