
/**
    badges-tags

*/

.tags {
    border-radius: 30px;
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #64C5D0;
    float: left;
}

.tags .tags-btnIni{
    text-align: left;
    margin-right: 5px;
    border-right-color: #468187;
    border-right-width: 1px;
    /*border-right-style: solid;*/
  
}

.tags .tags-btnFin{
    text-align: right;
    margin-left: 5px;
    border-left-color: #468187;
    border-left-width: 1px;
    /*border-left-style: solid;*/
}

/**
    Validar campos

*/

.noVal{
    border: 0;border-radius: 5px;
    border: 1px solid #FF0000;
}

/*section usa para resaltar cuando section edita un valor*/
.border-2 {
    border-width: 3px !important;
}